/* YOUR CUSTOM STYLES */
.pcex_button {
  margin-top: 10px;
  font-size: 12px;
  border: none;
  align-content: center;
  text-align: center;
  color: white;
}

.btn-challenge {
  margin-left: 0px;
  color: #ffffff;
  background-color: #ff5722 !important;
  border-color: #ff5722;
}

.btn-challenge:hover,
.btn-challenge:active {
  margin-left: 0px;
  color: #ffffff;
  background-color: #ff5722 !important;
  border-color: #ff5722;
}

.primary-challenge-color {
  background-color: #ff5722 !important;
}

.btn {
  margin: 4px;
  padding: 0 1rem !important;
}

.decrease-indent-button {
  position: absolute;
  left: -20px;
  margin-top: -2px;
}

.increase-indent-button {
  position: absolute;
  right: -16px;
  margin-top: -2px;
}

.btn-floating {
  width: 21px;
  height: 21px;
  line-height: 21px;
  margin-right: 5px;
  background-color: red;
}

.linenumber {
  user-select: none;
  opacity: 0.5;
  text-align: right;
  padding-right: 3px;
  margin-right: 10px;
}

.btn-floating i {
  line-height: inherit;
  font-size: 1.1rem;
}

.code-blank-line {
  margin-bottom: 5px;
  border: 2px dashed #428bca;
  border-radius: 8px;
  cursor: move;
  /*margin-left: -8px;
	margin-right: 1px;*/
  /*After tile drop, this cause line number to shifted left*/
}

.code-blank-line-error {
  background: #fddfdf;
  border: 3px dashed #f1a899;
}

.code-blank-line-correct {
  background: #64ffda;
  border: 3px dashed #1de9b6;
}

.tile-dragging-start {
  border-radius: 8px;
  border: 3px dashed #d4e157;
  padding: 0.1em;
  overflow-x: hidden;
  overflow-y: hidden;
}

.tile-dragged {
  background: #e3f2fd;
  /*display: inline-table;*/
  /*After dragging 3 tile to 3 consecutive blank line, second one shifted right*/
  width: 100%;
}

.hljs {
  font-size: 12px;
  background: transparent;
}

.line {
  padding-left: 5px;
  white-space: pre-wrap;
}

.stepline {
  margin-top: 3px;
  margin-bottom: 3px;
  background: rgba(0, 0, 0, 0.04);
}

.line.hljs {
  padding: 0em !important;
}

.tile-blank-line {
  border: 2px dashed #428bca;
  border-radius: 8px;
  cursor: move;
  padding: 0.1em !important;
  background: transparent;
}

.tile-blank-line-highlight {
  background: #fffa90;
}

.animation-highlight {
  background-color: #fffa90;
  border-radius: 8px;
  border: 3px dashed #d4e157;
}

.webui-popover {
  min-width: 50px;
  max-width: 40%;
}

.webui-popover-content {
  text-align: justify;
}

#check-button {
  color: white;
}

/* #goal_column {
	margin-top: 10px;
	margin-left: 10px;
} */

h4,
h5,
h6 {
  margin-top: 0px;
}

#div_code {
  min-height: 50px;
  list-style-type: none;
  padding-top: 5px;
}

#div_code .hljs {
  font-size: 12px;
}

#drag-tile-title,
#explanation-title {
  font-size: 13px;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

#drag-tile-title > *:first-child,
#explanation-title > *:first-child {
  flex-grow: 1;
}

#tiles,
#explanation,
#hint {
  font-size: 13px;
}

#tiles pre,
#modal-check-result-message {
  white-space: pre-wrap;
}

#result-modal {
  width: 65%;
}

#close-hint-button {
  color: white;
}

.hint-title {
  background-color: #ff8800 !important;
}

.hint-highlight {
  background: #ffe490;
  border-radius: 8px;
  border: 3px solid #ff8800;
}

.hovered {
  background: #827717;
}

.hovered-tile {
  background: #827717;
}

.modal-content {
  height: 100%;
  weight: 100%;
  background: azure;
  padding-top: 5px;
}

#modal-check-result-title {
  cursor: move !important;
  margin-bottom: 0px;
  font-weight: 800;
  padding-bottom: 10px;
}

.modal-footer {
  background: azure;
}

.modal-overlay {
  opacity: 0 !important;
}

#check-result-block.correct {
  background: #64ffda;
}

#check-result-block.wrong {
  background: #ff8a80;
}

.input_text {
  color: #3d81ef;
}

#check-result-title,
#check-result-output,
#expected-output {
  font-weight: 800;
}

#check-result-message {
  white-space: pre-wrap;
}

.modal-sub-title {
  font-weight: 600;
}

#overlay {
  background: rgba(0, 0, 0, 0.3);
  display: none;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99998;
}

.animation-highlight.blink-me {
  animation: blinker 0.5s linear;
}

.blink-me-error {
  animation: blinker-error 0.5s linear;
}

@keyframes blinker {
  10% {
    border: 4px solid blue;
  }

  90% {
    border: 4px solid blue;
  }
}

@keyframes blinker-error {
  10% {
    border: 4px solid red;
  }

  90% {
    border: 4px solid red;
  }
}

#goal-header {
  margin-bottom: 0px;
}

#goal_title {
  font-size: 14px;
}

#goal_description {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  white-space: pre-wrap;
}

#goal_title img {
  display: inline;
  margin-left: -10px;
  padding-right: 10px;
}

/*#modal-output-div [class*=col] {
	padding-left: 0px;
	padding-right: 0px;
}*/

.row.vdivide [class*="col-"]:not(:last-child):after {
  background: #e0e0e0;
  width: 2px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

#animation-next-button i.right {
  margin-left: 3px;
}

#animation-back-button i.left {
  margin-right: 3px;
}

#animation-next-button,
#animation-back-button {
  padding: 0 0.5rem !important;
}

/*
.sail-content .stepline:hover {
    background-color: rgba(0, 0, 0, 0.04) !important;
}

.sail-content .line:hover {
    background-color: lightyellow;
}
*/

.sail-content .btn-floating {
  float: right;
  width: 19px;
  height: 19px;
  line-height: 19px;
  margin-top: 2px;
  background-color: rgb(47, 127, 111);
}

.sail-content .stepline {
  margin-top: 0px;
  padding-top: 12px;
  /* or margin-top based on the background color*/
  margin-bottom: 0px;

  /* background-color: rgb(255, 255, 255); */
}

.sail-content .linenumber {
  margin-left: 10px;
  opacity: 0.25;
}

.sail-content .line {
  line-height: 24px;
  border-bottom: 0.1px lightgray solid;

  /* border-bottom: 1px rgb(245, 245, 245) solid; 
	  border-bottom: 1px rgb(220, 220, 220) dashed;
  
	  border-bottom: green 1px dotted;
	  border-bottom: green 0.2px solid;*/
}

/*  ---------  */

.sail-content .primary-color,
.sail-content .btn-primary {
  /* background-color: #4285F4 !important; */
  /* background-color: rgb(66 133 244 / 75%); */
  /*. 4285f4 */
  background-color: rgb(66 133 244 / 85%) !important;
}

.sail-content .secondary-color {
  background-color: rgb(170 102 204 / 85%) !important;
}

/* 
  .primary-challenge-color, .btn-challenge  {
	  background-color: rgb(255 136 103);
  }
  */

.sail-content .primary-challenge-color {
  background-color: rgb(37 102 208) !important;
}

.sail-content .btn-challenge {
  background-color: rgb(37 102 208) !important;
  background-color: rgb(47 127 111) !important;
  background-color: rgba(19, 44, 62, 0.6) !important;
}

.sail-content #check-button.btn-challenge {
  background-color: rgb(47 127 111) !important;
}

.sail-content #goal-header #next-button {
  background-color: rgb(66 133 244);
  background-color: rgb(47 127 111);
  background-color: rgba(19, 44, 62, 0.6) !important;
}

.sail-content #goal-header #next-button:hover {
  background-color: #ff5722;
}

/*
  .btn-challenge:hover {
	  background-color: rgb(66 133 244);
  }
  */

.sail-content .btn-challenge {
  float: right;
}

.sail-content .code-blank-line {
  margin-top: 3px;
  margin-bottom: 3px;
  border: 2px dashed #428bca;
}

.sail-content #check-result-block.wrong {
  background-color: #fddfdf;
  /* #ff8a80; */
}

.sail-content #check-result-block.correct {
  background-color: #f0fdfa;
  /* #64ffda; */
  border: 2px #26a69a solid;
}

.sail-content #checkCollapsible #clear-button {
  /* background-color: #C00; */
  background-color: #d4f7c2 !important;
  color: #292b2c !important;
}

.sail-content #checkCollapsible #show-correct-button {
  /* background-color: #00C851; */
  background-color: #c2f7ea !important;
  color: black !important;
}

.sail-content #checkCollapsible #show-hint-button,
.sail-content #hint-div .hint-title,
.sail-content #close-hint-button {
  /* background-color: #F80; */
  background-color: #ffe490 !important;
  color: #292b2c !important;
}

.sail-content .code-blank-line {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  border: 1px dashed #428bca !important;
  border-radius: 8px;
  cursor: move;
}

.sail-content .code-blank-line-error {
  background-color: #fddfdf;
}

.sail-content .code-blank-line-correct {
  background: #c2f7ea;
  /* #64ffda;*/
  border: 1px dashed #1de9b6;
  border-radius: 8px;
  border: 1px dashed #428bca;

  /* alternative * /
	  color: #2881cf;
	  margin-top: 2px;
	  margin-bottom: 2px;
	  background-color: #c2f7ea42;
		  */
}

.sail-content .hint-highlight {
  background-color: #ffe490;
  border-radius: 8px;
  border: 1px solid #ff8800;
}

.sail-content #check-result-block.wrong {
  background-color: #fddfdf;
  /* background-color: #fff; */
  border: 2px orangered solid;
  /* background-color: whitesmoke; */
}

.sail-content h5#check-result-title {
  padding-bottom: 8px;
}

.sail-content #check-result-block.wrong h5#check-result-title {
  border-bottom: 2px orangered solid;
  color: red;
}

.sail-content #check-result-block.correct h5#check-result-title {
  border-bottom: 2px #26a69a solid;
  color: #26a69a;
}

.sail-content p#check-result-message div span a {
  color: rgb(2, 117, 216) !important;
  border: 0px solid blue !important;
  font-weight: bold;
}

.sail-content #tiles {
  background: whitesmoke;
}

.sail-content div#explanation a {
  background-color: #c090da;
}

.sail-content div#explanation a[disabled] {
  background-color: #dfdfdf;
}

.sail-content div#explanation a.btn-info:hover {
  background-color: #a6c;
  /* #bc88d6 ;*/
}

.sail-content div#explanation-title span {
  margin-right: 20px;
  font-weight: bold;
  font-size: large;
}

.sail-content .animation-highlight {
  border-radius: 0px;
  border: 1px dashed green;
  /* border: 0px dashed green; */
  background-color: #fffa90;
  _ackground-color: rgba(170, 102, 214, 0.25);
}
